.button {
    background: $grey;
    border: 1px solid white;
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 2.2rem;
    width: 60%;
    cursor: pointer;
    margin-bottom: 10px;
    @media (min-width: $desktop-breakpoint) {
      width: 90%
    }
  }

  .button:hover{
    color: black
  }
